{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json",
    "extraFileExtensions": [".vue"]
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "@nuxtjs/eslint-config-typescript",
    "plugin:vue/vue3-recommended"
  ],
  "rules": {
    "vue/max-attributes-per-line": ["error", {
      "singleline": 1
    }]
  }
}
